
<h3 class="text-secondary card card-body">
    <u>Here are the steps your idea takes through it's lifecycle. From your submission, all the way to when it is implemented.</u>
</h3>

<div class="container">   
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cog about-cog about-cog-light-blue"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Pending Review
                    </h2>
                    <p class="card-text">A newly submitted idea will have a status of “Pending Review”.  The idea submission will be viewable on the IWG website by all users, but the idea title and other details will only be viewable by the Employee, his/her Supervisor, and Reviewers during this phase. A moderator will review a newly submitted idea and approve it for display.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cogs about-cog about-cog-green"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Component Review
                    </h2>
                    <p class="card-text">Subject Matter Experts (SMEs) for each component will review the idea for feasibility.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cog about-cog about-cog-pink"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">Component Implementation</h2>
                    <p class="card-text">During component review, if an idea calls for a policy/procedure change rather than automation of an existing process, then the component may adopt the idea. In this case, Subject Matter Experts (SMEs) will decide how to implement it, thereby concluding the IWG process.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cog about-cog about-cog-orange"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        CASI Review
                    </h2>
                    <p class="card-text">Members of the CASI Development Staff will review the idea to see if it can be developed. If applicable, high level requirements will be gathered during this phase.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="secondrowprocess">
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cog about-cog about-cog-purple"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Development
                    </h2>
                    <p class="card-text">In development, detailed requirements are gathered and the software is developed.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cogs about-cog about-cog-red"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Testing
                    </h2>
                    <p class="card-text">Once development is finished, the idea moves to Testing. In Testing, the software is validated against requirements.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cog about-cog about-cog-yellow"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Implemented
                    </h2>
                    <p class="card-text">Once the testing team is finished validating any changes, the idea is moved to production and thus, implemented</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 portfolio-item about-card">
            <div class="card h-100">
                <div class="card-img-top">
                    <i class="fa fa-cogs about-cog about-cog-dark-blue"></i>
                </div>
                <div class="card-body">
                    <h2 class="card-title text-primary">
                        Not Adopted
                    </h2>
                    <p class="card-text">A status of not adopted simply means an idea is no longer being worked on. At some point in the review process, an idea was turned down for any number of reasons.</p>
                </div>
            </div>
        </div>

    </div>

</div>