
<h3 class="text-secondary card card-body">
    <u>Here is some useful information about the required fields when submitting an idea.</u>
</h3>
<div class="">
    <div class="col-xlg-6">
        <div class="card" >
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-dark-blue"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Title
                        </h2>
                        <p class="card-text">The Title field is a short, descriptive name for your idea.  For Example, Magnifier Tool.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-red"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Problem
                        </h2>
                        <p class="card-text">The Problem field is where you explain the issue.  For Example, Technicians keying scanned documents sometimes have a difficult time reading the scanned documents.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cogs about-cog about-cog-green"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Idea
                        </h2>
                        <p class="card-text">The Idea field is where you explain your idea and how it will solve the problem.  For Example, giving the technicians a magnifying tool in the keying programs will help them see the particulars of a document.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-pink"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Benefits
                        </h2>
                        <p class="card-text">The Benefits field is where you explain about the benefits of solving the problem utilizing your idea.  For Example, the magnifying tool would save technicians time and reduce the frequency of inaccurate data being entered while keying forms.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-orange"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Location
                        </h2>
                        <p class="card-text">The Location field is where you are located.  For Example, WBDOC employees, choose Wilkes-Barre. For any building in Baltimore, choose Baltimore.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cogs about-cog about-cog-light-blue"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Component
                        </h2>
                        <p class="card-text">The Component field is your location within your branch.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-purple"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            Supervisor's Email
                        </h2>
                        <p class="card-text">The Supervisor’s Email is required for an idea submission.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="">
    <div class="col-xlg-6">
        <div class="card">
            <div class="row">
                <div class="col-sm-2">
                    <i class="fa fa-cog about-cog about-cog-yellow"></i>
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <h2 class="text-primary">
                            @Html.ActionLink("Let’s Get Started!", "Index", "Create", null, null, "", new { area = "Idea" }, new { @target = "_blank"})
                        </h2>
                        <p class="card-text">Click the 'Lets Get Started!' and help create a difference in our organization one IDEA at a time.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


