@{
    ViewBag.Title = "Location Changed";
}

<div class="jumbotron text-xs-center">
    <h1 class="display-3">CASI Location Changed</h1>
    <p class="lead">
        <strong>
            You have successfully changed the location for idea reference number @ViewBag.Id.
        </strong>

    </p>
    <p>
        @ViewBag.Text
    </p>
    <hr>
    <p>
        Having trouble? <a href="http://google.com">Contact the Helpdesk</a>
    </p>
    <p class="lead">
        @Html.ActionLink("Continue to View Ideas", "Index", "List", new { area = "Idea" }, new { @class = "btn btn-primary btn-sm" })
    </p>
    <p class="lead">
        @Html.ActionLink("Continue to Submit Idea", "Index", "Create", new { area = "Idea" }, new { @class = "btn btn-primary btn-sm" })
    </p>
</div>
