<div id="loading-modal" class="modal fade" role="spinbutton" aria-labelledby="filter-message" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered mx-auto text-center" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="fa fa-spinner fa-spin fa-3x"></span>
                <p id="filter-message">Loading data for <span data-bind="text: currentFilter"></span></p>
            </div>
        </div>
    </div>
</div>