@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<div class="pt-3 mx-auto text-center">
    <img src="~/Content/Images/Slipbob2.jpg" style="height:400px;" alt="A picture of spongebob squarepants slipping while walking through a door" />
    <h1 class="display-4 pt-2">Tartar Sauce!</h1>

    <p>
        Something went wrong with the Imagination Workgroup Site.

        We appreciate your patience as our team works on fixing the problem.  Please try again later.
        If you continue to experience issues, please contact the <a href="http://Google.com">Helpdesk</a>
    </p>
</div>